<footer id="contato">
  <div class="footer-grid">
    <img class="footer-logo" src="/assets/original/logo-footer.svg" alt="Grupo Guard Brasil">
    <div>
      <strong>Institucional</strong>
      <a href="#quem-somos">Quem somos</a>
      <a href="#planos">Nossos planos</a>
    </div>
    <div>
      <strong>Atendimento</strong>
      <a href="tel:39369065">3936 9065</a>
      <!-- <a routerLink="">Área do associado</a> -->
    </div>
    <div>
      <strong>Endereço</strong>
      <span>São José dos Campos — SP</span>
    </div>
  </div>
  <div class="copyright">Copyright © 2026 Grupo Guard Brasil. Todos os direitos reservados.</div>
</footer>